.add_task {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 400px;
    min-height: 500px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0;
}

.title_label {
    font-size: 1rem;
    width: 100%;
    font-weight: 500;
    margin: 0.3rem 0;
}

.title_input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid gainsboro;
    border-radius: 0.6rem;
    font-size: 1rem;
}

.priority {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.priority_heading {
    font-size: 0.9rem;
    font-weight: 500;
}

.all_priorities{
    display: flex;
}

.error{
    color: red;
    font-size: 0.8rem;
}

.priority_error{
    color: red;
    font-size: 0.8rem;
    padding: 0 1rem;
}


.priority_item {
    display: inline-block;
    padding: 0.8rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.priority_item input[type="radio"] {
    display: none;
}

.priority_item label {
    font-size: 0.8rem;
    color: #333;
    border: 2px solid gainsboro;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.priority_item input[type="radio"]:checked+label {
    border: 2px solid #317F8B;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.assignee{
    display: flex;
    align-items: center;
}

.assignee_label {
    font-size: 0.9rem;
    font-weight: 500;
    min-width: 6rem;
}

.checklists {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.checklists p {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.checklist_container {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    max-height: 200px;
    overflow: auto;
}

.checklist_container::-webkit-scrollbar {
    width: 8px;
}

.checklist_container::-webkit-scrollbar-thumb {
    background-color: #317F8B;
    border-radius: 1rem;
}

ul.checklist_container li {
    list-style: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: 2px solid gainsboro;
    border-radius: 0.5rem;
}


ul.checklist_container li span {
    color: red;
    cursor: pointer;
}

.checklists button {
    color: gray;
    font: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    border: none;
}


.checkIsDone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input.checklist_input {
    flex: 1;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.add_checklist_btn {
    font-size: 1rem;
    outline: none;
    background-color: white;
}

.task_variables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}


.form_buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

button.cancel {
    padding: 0.7rem 0.6rem;
    border: 1px solid #ca3434;
    border-radius: 0.6rem;
    color: ca3434;
    font-weight: 600;
    background-color: white;
    width: 100%;
    cursor: pointer;
}

button.submit {
    padding: 0.7rem 0.6rem;
    color: white;
    background-color: #317F8B;
    border-radius: 0.6rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

.due_date {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.date_picker_input {
    padding: 0.5rem;
    border: 2px solid gainsboro;
    border-radius: 0.5rem;
    width: 100%;
    width: 8rem;
    cursor: pointer;
    outline: none;
    z-index: 9999;
}

